<div class="form-wrapper">
  <h2 class="form-wrapper__title">
    <%= title ? 'Edit your todo' : 'Add your new todo' %>
  </h2>
  <form class="form">
    <input value="<%= title %>" type="text" class="form__input" id="title" name="title" placeholder="Insert todo title" />

    <textarea class="form__input form__input--large" id="description" name="description" placeholder="Insert todo description"><%= description %></textarea>

    <div class="form__buttons">
      <button id="submit-btn" class="form__button form__button--save" type="button">
        <%= title ? 'Save' : 'Add' %>
      </button>
      
      <% if(title) { %>
        <button 
          id="delete-btn"
          onclick="handleDeleteTodo()"
          class="form__button form__button--delete" type="button"
        >
          Delete
        </button>
      <% } %>
    </div>
  </form>
  <script>
    const inputTitle = document.getElementById('title');
    const textareaDescription = document.getElementById('description');
    const submitBtn = document.getElementById('submit-btn');

    const createBody = () => ({
      title: inputTitle.value,
      description: textareaDescription.value,
    })

    const redirect = (res) => {
      if (res && res.status === 200) {
        console.log('redirectoing....');
        location.href = '/';
      } else {
        /* redirect to error page */
      }
    }

    const handleDeleteTodo = async () => { 
      const res = await fetch('/edit/<%= id %>', { method: 'DELETE' });
      redirect(res);
    };
    
    const handleSaveTodo = async (body) => {
      console.log(body);
      const res = await fetch('/add', { method: 'POST', headers: { 'Content-Type': 'application/json' }, body: JSON.stringify(body) });
      redirect(res);
    };
    
    const handleUpdateTodo = async (body) => {
      const res = await fetch('/edit/<%= id %>', { method: 'PUT', headers: { 'Content-Type': 'application/json' }, body: JSON.stringify(body) });
      redirect(res);
    };

    const handleSubmitForm = async (event) => {
      event.preventDefault();

      const body = createBody();
      if ("<%= action %>" === "/edit") {
        await handleUpdateTodo(body);
      } else {
        await handleSaveTodo(body);
      }
    };

    submitBtn.onclick = handleSubmitForm;
  </script>

</div>